<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBPathSection" type="XmlUtils.CMySection, XmlUtils" />
    <section name="DBPathRoomSection" type="XmlUtils.CMySection, XmlUtils" />
    <section name="VerSection" type="XmlUtils.CMySection, XmlUtils" />
  </configSections>

  <DBPathSection>
    <add key="dbpath" value="InfData.mdb" />
  </DBPathSection>

  <DBPathRoomSection>
    <add key="dbpath_room" value="" />
  </DBPathRoomSection>

  <VerSection>
    <add key="ver" value="" />
  </VerSection>
</configuration>